[submodule "uclalib/roles/uclalib_role_epel"]
        path = uclalib/roles/uclalib_role_epel
        url = git@github.com:UCLALibrary/uclalib_role_epel.git
[submodule "uclalib/roles/uclalib_role_rhel7repos"]
        path = uclalib/roles/uclalib_role_rhel7repos
        url = git@github.com:curationexperts/uclalib_role_rhel7repos.git
[submodule "uclalib/roles/uclalib_role_samvera_basepackages"]
        path = uclalib/roles/uclalib_role_samvera_basepackages
        url = git@github.com:UCLALibrary/ansible_uclalib_role_samvera_basepackages.git
[submodule "uclalib/roles/uclalib_role_java"]
        path = uclalib/roles/uclalib_role_java
        url = git@github.com:curationexperts/uclalib_role_java
[submodule "uclalib/roles/uclalib_role_clamav"]
        path = uclalib/roles/uclalib_role_clamav
        url = git@github.com:UCLALibrary/ansible_uclalib_role_clamav.git
[submodule "uclalib/roles/uclalib_role_pip"]
        path = uclalib/roles/uclalib_role_pip
        url = git@github.com:UCLALibrary/ansible_uclalib_role_pip.git
[submodule "uclalib/roles/uclalib_role_imagemagick"]
        path = uclalib/roles/uclalib_role_imagemagick
        url = git@github.com:UCLALibrary/ansible_uclalib_role_imagemagick.git
[submodule "uclalib/roles/uclalib_role_libreoffice"]
        path = uclalib/roles/uclalib_role_libreoffice
        url = git@github.com:UCLALibrary/ansible_uclalib_role_libreoffice.git
[submodule "uclalib/roles/uclalib_role_ffmpeg"]
        path = uclalib/roles/uclalib_role_ffmpeg
        url = git@github.com:UCLALibrary/uclalib_role_ffmpeg.git 
[submodule "uclalib/roles/uclalib_role_fits"]
        path = uclalib/roles/uclalib_role_fits
        url = git@github.com:UCLALibrary/ansible_uclalib_role_fits.git
[submodule "uclalib/roles/uclalib_role_ruby"]
        path = uclalib/roles/uclalib_role_ruby
        url = git@github.com:curationexperts/uclalib_role_ruby.git 
[submodule "uclalib/roles/uclalib_role_apache"]
        path = uclalib/roles/uclalib_role_apache
        url = git@github.com:UCLALibrary/ansible_uclalib_role_apache.git
[submodule "uclalib/roles/uclalib_role_passenger"]
        path = uclalib/roles/uclalib_role_passenger
        url = git@github.com:UCLALibrary/ansible_uclalib_role_passenger.git
[submodule "uclalib/roles/uclalib_role_nodejs"]
        path = uclalib/roles/uclalib_role_nodejs
        url = git@github.com:UCLALibrary/ansible_uclalib_role_nodejs.git
[submodule "uclalib/roles/uclalib_role_yarn"]
        path = uclalib/roles/uclalib_role_yarn
        url = git@github.com:UCLALibrary/ansible_uclalib_role_yarn.git
[submodule "uclalib/roles/uclalib_role_redis"]
        path = uclalib/roles/uclalib_role_redis
        url = git@github.com:UCLALibrary/ansible_uclalib_role_redis.git
[submodule "uclalib/roles/uclalib_role_uclalibrepo"]
        path = uclalib/roles/uclalib_role_uclalibrepo
        url = git@github.com:UCLALibrary/ansible_uclalib_role_uclalibrepo.git
[submodule "uclalib/roles/uclalib_role_samvera_capdeploy"]
        path = uclalib/roles/uclalib_role_samvera_capdeploy
        url = git@github.com:UCLALibrary/ansible_uclalib_role_samvera_capdeploy
[submodule "uclalib/roles/uclalib_role_fedora4"]
        path = uclalib/roles/uclalib_role_fedora4
        url = git@github.com:UCLALibrary/ansible_uclalib_role_fedora4.git
[submodule "uclalib/roles/uclalib_role_solr7"]
        path = uclalib/roles/uclalib_role_solr7
        url = git@github.com:UCLALibrary/ansible_uclalib_role_solr7
[submodule "uclalib/roles/uclalib_role_tomcat"]
        path = uclalib/roles/uclalib_role_tomcat
        url = git@github.com:UCLALibrary/ansible_uclalib_role_tomcat.git

